@import "tailwindcss";

:root {
  --background: #e0def7;
  --foreground: #171717;
  --primary: #7065f0;
  --text: #000929;
  --backgroundNavbar: #edecfb;
  --hero-start: #e3e1f8;
  --hero-end: #ffffff;
  --shadowPrimary: #e0def7;
  --blackText: #081130;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --color-primary: var(--primary);
  --color-text: var(--text);
  --color-backgroundNavbar: var(--backgroundNavbar);
  --color-hero-start: var(--hero-start);
  --color-hero-end: var(--hero-end);
  --text-4xl: 40px;
  --color-shadowPrimary: var(--shadowPrimary);
  --color-blackText: var(--blackText);
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1536px;
  --breakpoint-4xl: 1920px;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-sans), sans-serif;
}
